{% extends 'base.html.twig' %}

{% block title %}Portfolio | Nassim BERABHA{%endblock %}

{% block body %}

{% include "home/_herosection.html.twig" %}

<div id="wrapper" class="lg:w-[80%] mx-auto">

  {% include "home/_skillstree.html.twig" %}

  <!-- ABOUT -->
  <section id="about-me" class="mb-16">
    <h2 class="text-2xl font-bold text-text mb-6">#about-me</h2>
    <div class="flex flex-col md:flex-row items-center">
      <div class="md:w-2/3 text-text">
        <p class="mb-4">
          Hello, I'm <span class="text-text font-semibold">Nassim</span>!
          I'm a junior web developer passionate about building scalable and responsive web applications.
          I specialize in creating intuitive user interfaces and efficient back-end systems, always following best
          practices like SEO, accessibility, and RGPD compliance.
        </p>
        <p class="mb-4">
          My journey in web development started with a strong foundation in the DWWM program, and I've since continued
          to
          grow my skills by taking on new challenges, from full-stack development to advanced projects involving modern
          frameworks and tools.
        </p>
        <a href="#"
          class="inline-block bg-cta text-text px-4 py-2 rounded-md font-semibold hover:bg-cta2">Read
          more →</a>
      </div>
      <div class="md:w-1/3 mt-8 md:mt-0">
        <img src="{{asset('./img/c37519ec-6955-46a7-b287-3f51e809f5f5.jpg')}}" alt="Your photo"
          class="rounded-lg shadow-lg">
      </div>
    </div>
  </section>

  <section id="contacts" class=" text-text py-8">
    <div class="container mx-auto px-4">

      <h2 class="text-2xl font-bold text-text mb-6">#contacts</h2>

      <p class="mb-6">
        I’m open to opportunities, especially in web development and related fields.
        However, if you have any other request or question, don’t hesitate to contact me.
      </p>

      <!-- CONTACT -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- LEFT -->
        <div>
          <h3 class="font-semibold mb-2">Message me here</h3>
          <ul>
            <li class="mb-2">
              <span class="font-semibold text-text">Discord: </span> namskii_
            </li>
            <li>
              <span class="font-semibold text-text">Email: </span>
              <a href="mailto:nassim.devmail@gmail.com"
                class="text-text hover:underline">nassim.devmail@gmail.com</a>
            </li>
          </ul>
        </div>

        <!-- RIGHT -->
        <div>
          <ul class="space-y-2">
            <li>
              <span class="font-semibold">GitHub: </span>
              <a href="https://github.com/namaski" class="text-text hover:underline">github.com/namaski</a>
            </li>
            <li>
              <span class="font-semibold">LinkedIn: </span>
              <a href="https://linkedin.com/nassim-berabha"
                class="text-text hover:underline">linkedin.com/nassim-berabha</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</div>

{% endblock body %}