@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    background-color: #0d1117; 
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.04) 1px,
        transparent 1px
      ),
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.04) 1px,
        transparent 1px
      );
    background-size: 25px 25px;
  }

  header {
    border: 1px solid rgba(224, 170, 255, 0.2);
  }

  #heroSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: "Oxanium", sans-serif;
    color: white;
  }

  #heroSection #heroContent #heroTitle {
    font-family: "Oxanium";
    font-size: 2em;
  }

  #heroSection::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../img/test.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;

    mask-image: url("../img/mask_ink.webp");
    mask-size: cover;
    mask-position: center;
  }

  .button-glass {
    @apply inline-block px-8 py-6 rounded-[15px] bg-[rgba(224,170,255,0.1)] 
           border border-[rgba(224,170,255,0.1)] backdrop-blur-[30px] text-white 
           text-[14px] tracking-widest uppercase cursor-pointer transition-colors;
  }
  
  .button-glass:hover {
    @apply bg-[rgba(224,170,255,0.5)];
  }

  
.light {
  @apply absolute transform -translate-x-1/2 -translate-y-1/2;
}

.light.small {
  @apply w-[10%];
}

.light.medium {
  @apply w-[15%];
}

.light.large {
  @apply w-[25%];
}

.light.top-left {
  @apply top-[10%] left-[10%];
}

.light.bottom-right {
  @apply bottom-[10%] right-[10%];
}

.light.center {
  @apply top-1/2 left-1/2;
}

.light.top-right {
  @apply top-[5%] right-[5%];
}

.light.bottom-left {
  @apply bottom-[5%] left-[5%];
}

.light.hexagon-1 {
  @apply top-[30%] left-[20%] w-[12%];
}

.light.hexagon-2 {
  @apply bottom-[20%] right-[25%] w-[15%];
}


@media (max-width: 768px) {
  .light.small {
    @apply w-[15%];
  }

  .light.medium {
    @apply w-[20%];
  }

  .light.large {
    @apply w-[30%];
  }
}

}
