@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    background-color: #0d1117; 
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.04) 1px,
        transparent 1px
      ),
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.04) 1px,
        transparent 1px
      );
    background-size: 25px 25px;
  }

  header {
    border: 1px solid rgba(224, 170, 255, 0.2);
  }

  #heroSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: "Oxanium", sans-serif;
    color: white;
  }

  #heroSection #heroContent #heroTitle {
    font-family: "Oxanium";
    font-size: 2em;
  }

  #heroSection::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../img/test.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;

    mask-image: url("../img/mask_ink.webp");
    mask-size: cover;
    mask-position: center;
  }

  .button-glass {
    @apply inline-block px-8 py-6 rounded-[15px] bg-[rgba(224,170,255,0.1)] 
           border border-[rgba(224,170,255,0.1)] backdrop-blur-[30px] text-white 
           text-[14px] tracking-widest uppercase cursor-pointer transition-colors;
  }
  
  .button-glass:hover {
    @apply bg-[rgba(224,170,255,0.5)];
  }

  .light {
    position: absolute;
    transform: translate(-50%, -50%);
    background: radial-gradient(
      circle,
      rgba(224, 170, 255, 0.3) 0%,
      rgba(224, 170, 255, 0.05) 80%
    );
    filter: blur(32px);
  }
  
  .light.small {
    width: 30%;
    max-width: 150px;
    aspect-ratio: 1 / 1;
  }
  
  .light.big {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 4 / 3;
  }
  
  .light.white {
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.05) 80%
    );
  }
  
  .hexagone-light{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 35%;
    max-width: 250px;
  }
  
  h3{
    color: white;
    font-size: 2em;
    margin: 0 auto;
    width: fit-content;
    margin-top: 1.2em;
  }
  
  
  
  /* SKILLS SECTION */
  
  .skills-container {
    position: relative;
   
    width: 300px; 
    height: 300px; 
    margin: 2em auto 0 auto;
  }
  
  
  .hexagon {
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
  }
  
  
  .hexagon:hover {
    transform: scale(1.1); 
  }
  
  
  .hex-top-left {
    top: 0;
    left: 0;
    transform: translate(-30%, -20%);
  }
  
  .hex-top-right {
    top: 0;
    right: 0;
    transform: translate(30%, -20%);
  }
  
  .hex-bottom-left {
    bottom: 0;
    left: 0;
    transform: translate(-30%, 20%);
  }
  
  .hex-bottom-right {
    bottom: 0;
    right: 0;
    transform: translate(30%, 20%);
  }
  
  
  .skill-title {
    position: absolute;
    font-size: 14px;
    color: #a0a0a0;
    text-transform: uppercase;
    white-space: nowrap;
  }
  
  .skill-title.top {
    bottom: 120%; 
    text-align: center;
  }
  
  .skill-title.bottom {
    top: 120%; 
    text-align: center;
  }
  
  
  
  

}
