<footer class="mt-8 border-t border-gray-700 pt-4 text-sm flex flex-col md:flex-row justify-between">
    <div>
      <p>Nassim <span class="text-gray-400">| Web developer and tech enthusiast</span></p>
    </div>
    <div class="mt-4 md:mt-0">
      <p class="text-gray-400">© 2024. Made by Nassim.</p>
    </div>
  </footer>