<header class="fixed top-0 left-0 w-full flex justify-between items-center p-6 font-bold bg-transparent bg-opacity-0 z-10 text-text">
    <h1 class="text-xl">Nassim</h1>
  
    <div class="lg:hidden">
        <button id="menu-toggle" class="text-text focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
            </svg>
        </button>
    </div>
  
    <nav class="hidden lg:block">
        <ul class="lg:flex space-x-4 text-cta">
            <li><a href="#works" class="hover:text-border">mes projets</a></li>
            <li><a href="#about-me" class="hover:text-border">à propos de moi</a></li>
            <li><a href="#contacts" class="hover:text-border">contact</a></li>
        </ul>
    </nav>
  </header>
  