<header class="fixed top-0 h-14 w-full z-10 py-4 px-6 sm:px-8 md:px-12 text-lg bg-[rgba(224,170,255,0.1)] 
           border border-[rgba(224,170,255,0.1)] backdrop-blur-[30px]">

    <nav class="mb-2 bg-opacity-80 flex justify-between  h-full items-center">

        <div class="font-semibold text-2xl text-white p-2 pl-4 rounded-md flex  items-center ">
            <h1 class="">Nassim B</h1>
        </div>

        <div class="lg:hidden p-2 pr-4">
            <button id="menu-toggle" class="text-text focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-cta" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                </svg>
            </button>
        </div>

        <ul class="hidden lg:flex space-x-4 text-lg text-white rounded-md p-2 pr-4">
            <li><a href="#works" class=" hover:text-cta2">Mes projets</a></li>
            <li><a href="#about-me" class="hover:text-cta2">À propos de moi</a></li>
            <li><a href="#contacts" class="hover:text-cta2">Contact</a></li>
        </ul>

    </nav>

</header>