<section id="heroSection" class="text-text py-20">
    <div id="heroContent" class="text-center">
        <h2 id="heroTitle" class="text-4xl font-bold text-text mb-4">
            Nassim BERABHA
        </h2>
        <p class="text-2xl text-cta mb-6">"I don’t always test my code, but when I do, I do it in production."</p>

        <button class="border-[3px] rounded-lg p-3 cursor-pointer drop-shadow-lg text-white border-cta hover:bg-cta2">
            Entrons en contact
        </button>
    </div>
</section>

<!-- QUOTE -->
{# <blockquote class="mt-12 text-lg border-l-4 border-purple-600 pl-4">
    <p>"I don’t always test my code, but when I do, I do it in production."</p>
    <footer class="mt-2 text-sm text-gray-400">— An anonymous coder</footer>
</blockquote> #}