<header class="flex justify-between items-center px-6 py-4">
  <h1 class="text-xl font-bold">Nassim</h1>

  <div class="lg:hidden">
    <button id="menu-toggle" class="text-white focus:outline-none">
      {# ICONE #}
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
      </svg>
    </button>
  </div>

  <nav class="hidden lg:block">
    <ul class="lg:flex space-x-4">
      <li><a href="#home" class="hover:text-purple-400">home</a></li>
      <li><a href="#works" class="hover:text-purple-400">works</a></li>
      <li><a href="#about-me" class="hover:text-purple-400">about-me</a></li>
      <li><a href="#contacts" class="hover:text-purple-400">contacts</a></li>
      <li><a href="#" class="hover:text-purple-400">EN</a></li>
    </ul>
  </nav>
</header>